{% extends 'products/base.html' %}
{% block title %} {{ cpu.name }}{% endblock title %}
 {% block container %}
            <div class="container py-md-3">
            {% endblock container %}
 {% block sidebar %}
                  <div class="side-bar col-lg-3">
                   {% endblock sidebar %}
{% block product %}
<div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{{cpu.image.url}}" class="img-fluid" alt="">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-4">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{ cpu.name }}

                            </h3>
                            <h5 class="editContent"></h5>
                            <ul>



                                <li style="list-style: none">
                                    <span><b>На устройствах:</b>
                                        {% for product in cpu.prod_cpu.all %}
                                            {{ product.title }};
                                        {% endfor %}
                                    </span></li>
                    </div>
                    <div class="row sub-para-w3layouts mt-5">

                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            О процессоре {{ cpu.name }}</h3>

                        <p class="editContent" style="outline: none; cursor: inherit;">
                            {{ cpu.description }}
                        </p>


                    </div>
                    <hr>
                    </div>
</div>

                                    <!--  //contact form grid ends here -->


{% endblock product %}
