 <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    Виталий Гапаньков
                                </span>
                            </a>
                        </h2>




                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Contact Info</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:info@example.com">gapankoff@gmail.com</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Location</h4>
                                        <p class="editContent" >Minsk</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2020 Виталий Гапаньков. All rights reserved | Design by
                        <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
                    </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
                    <!-- //move top icon -->
                </div>
            </div>
        </div>
